@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #303030;
    --secondary-color: #0C70F2;
    --placeholder-color: #39393980;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    color: #fff;
    font-family: 'inter';
}

body {
    background: linear-gradient(180deg, rgba(12,1112,242,0.5) 19.91%, rgba(12,112,242,0) 24.84%), var(--primary-color);
    background-repeat: no-repeat;
}

/* Seção menu */
#principal {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

    #menu a {
        font-size: 25px;
        font-weight: 600;
    }
        
    #menu a:hover {
        color: #cccccc;
    }

    #menu {
        display: flex;
        width: 45%;
        justify-content: space-around;
        align-items: center;
        
        margin-left: 5%;
    }

    #principal button {
        margin-right: 5%;
        width: 80px;
        height: 39px;
        font-weight: 600;
        font-size: 20px;
        background-color: var(--secondary-color);
        border: none;

        box-shadow: 3px 2px 4px #0C70F2;
        cursor: pointer;
    }

/* Seção Principal  */
section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 100px 0;
}

    header h1{
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 800;
        text-align: center;

        margin-bottom: 20px;
    }

    header h2{
        text-align: center;
        font-size: 40px;

        margin-bottom: 100px;
    }

    header .invert {
        background-color: black;
        padding: 2px;
    }